.old_browser_wrap{
	z-index: 9999;
	position: fixed;
	background:white;	
	left: 0;
	top: 0;
	width: 100%;
	border-width:3px;
	border-style:solid;
	border-color:red ;
	padding:20px;
	p{
		color:black;
	}	
}
.test{
	width: 100px;
	height: 100px;
	background-image:url('~logo.png');
}